{
  "root": true,
  "extends": ["mahir/common", "mahir/node", "mahir/typescript", "mahir/prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/extensions": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-param-reassign": "off",
    "promise/prefer-await-to-callbacks": "off"
  }
}
